$color-purple: #1F1E1D;
$color-purple-black: #1B1611;
$color-gray-white: #E4E4E4;
$color-gray-medium: #A098AB;
$color-blue: #44BBFF;

$font-italiana: 'Italiana';
$font-ubuntu: 'Ubuntu';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);


$z-indexes: ('loadpage', 'preloader', 'navigation', 'lines', 'canvas' , 'content');